# @dungle-scrubs:registry=https://npm.pkg.github.com/dungle-scrubs

@netlify:registry=https://npm.pkg.github.com

# Auth for private Github Packages modules
@dungle-scrubs:registry=https://npm.pkg.github.com/dungle-scrubs
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

# Auth for private npm modules
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}