# @dungle-scrubs:registry=https://npm.pkg.github.com/dungle-scrubs

#@netlify:registry=https://npm.pkg.github.com

# Auth for private Github Packages modules
#//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

# Auth for private npm modules
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

"@dungle-scrubs:registry" "https://npm.pkg.github.com"